h1{
    margin-top:60px;
    font-family:"Raleway", sans-serif;
    text-align: center;
    font-size:36px;
}

.wrapper{
    font-family:"Raleway", sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    max-width:1400px;
    gap:20px;
    margin:auto;
    height:auto;
    padding-top:20px;
}

.first-template,.second-template,.third-template,.fourth-template{
    width:400px;
    height:auto;
    border:1px solid rgb(194, 188, 188);
    border-radius:10px;
    padding:20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-img{
    height:300px;
    background-image:url('./images/london.jpg') ;
    background-size: cover;
}

.grid-h2,.womazing-h2,.costum-h2,.gift-h2{
    font-size:30px;
    text-align:center;
}

.grid-content,.womazing-content,.costum-content,.gift-content{
    font-size:24px;
}

.grid-text,.womazing-text,.costum-text,.gift-text{
    text-decoration: none;
    color:black;
   
}

.womazing-img{
    height:300px;
    background-image: url('./images/header-main-pic.png');
}

.costum-img{
    height:300px;
    background-image: url('./images/Group\ 5.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.gift-img{
    background-size: 100%;
    height:300px;
    background-position: center;
    background-image:url(./gift-box-website/styles/images/9f16e4483e69928b9e91d0e7769d6527.jpg) ;
}

