$bg-color: rgba(239, 245, 255, 1);
$bg-col: rgba(250, 250, 250, 1);
$bg-wr-col:rgba(255, 255, 255, 1);
$color:rgba(255, 202, 51, 1);
$text-color:rgba(4, 26, 63, 1);
$fontbold:bold;

.section{

    &.wrapper-box{
        background-color:$bg-color;
    }
    &.wrapper{
        background-color: $bg-color;
    }

    &.box{
        background-color:$bg-wr-col;
            
        h2{
            color:$color;
            font-weight:$fontbold;
        }
        span{
            color:$text-color;
            font-weight:$fontbold;
        }
        p{
            font-weight:$fontbold;
            font-size:32px ;
            color:$text-color;
            margin-left:220px;
        }
    }
   
    &.header{
        background-color:$bg-col;
        width:calc(90% - 145px);
        height:750px;
        position:relative;
        border-bottom-left-radius: 300px;
        left:145px;
        
        h2{
            color:$color;
            font-weight:$fontbold;
        }

        span{
            color:$text-color !important;
            font-weight:$fontbold;
        }

        p{
            font-weight:$fontbold;
            font-size:32px ;
            color:$text-color;
            margin-left:220px;
        }

        .text{
            font-family:'Montserrat Alternates';
            font-size:48px;
            margin-top:170px;
            line-height:72.8px ;
            padding-left: 130px;
          
            }
            .btn.btn-warning {
                margin-left:130px;
                padding-inline:40px;
            }

        .main-pic{
            width:calc(90% - 130px);
            height:722px;
            position:absolute;
            left:130px;
            top:-20px;
            }
        }
    
    &.main{
        h4,h5{
            color:$text-color;
            font-weight:$fontbold;
        }
        .row{
            padding-inline: 265px;
        }
        .card{
            border-radius:10px;
        }
        a{
            padding:5px 20px;
        }
        .image{
            width:100%;
            height:320px;
        }

    }
    &.footer{
        background-color:$bg-col;

        h4{
            color:$color;
            font-weight:$fontbold;
        }
        span{
            color:$text-color;
            font-weight:$fontbold;
        }

        p{
            font-weight:$fontbold;
            color:$text-color;
            font-size:24px;
        }

       
    }
    &.main-box{
      
        .img-size{
            width:82px;
            height:100px;
        }
    
    }
    &.section.costum{
       .mainpage{
        padding-left:313px;
       }
        a,span,h1,h5{
            color:$text-color;
            font-weight:$fontbold;
        }
        h4{
            color:$color;
            font-weight:$fontbold;
        }
        #darthvader{
            padding-top:130px;
        }
        #picturemodal{
            padding-left:200px;
        }
        
    }
    &.section.content{

        h4,p{
            color:$text-color;
            padding-left:120px;
        }
    }
    &.footer{
        p{
            text-align: right;
        }
    }
}

@media screen  and (max-width:576px){
   .section{

        &.wrapper{
            background-color: white;
        }
        &.header{
            &.mobile-reader{
                width:100%;
                left:0;
                border-bottom-left-radius: 0px;
                
                h2{
                margin-top:-20px;
                padding-left:0;
                font-size:26px;
                line-height:36px;
                text-align:center;
                padding-top: 13px;
                
                }
                .card{
                    margin:0;
                    padding:0
                }
                
                p{
                font-size:16px ;
                margin-left:20px;
                }
                .mobile-flex{
                    flex-direction:column-reverse;
                    border-bottom-left-radius: 0px;

                .row{
                    margin-right:0;
                    min-height:0;
                }
                }
                .main-pic{
                    position:static;
                    width:100%;
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    height:424px;
                }
            }
            .btn.btn-warning {
                margin-left: 80px;
            }
        }
        &.main{
            color:$text-color;
            background-color:$bg-color ;
            .row{
                padding-inline:0;
                margin-right:0;
            }
            .image{
                padding-inline:12px;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
        &.footer{ 
            .mobile-footer{
                h4,p{
                text-align:center !important;
            }
        }
        }
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .section{
        &.wrapper{
            background-color: white;
        }
        &.header{
            &.mobile-reader{
                width:100%;
                left:0;
                border-bottom-left-radius: 0px;
                p{
                    margin-left: 110px;
                    font-size:18px;
                }
                h2{
                    line-height:38px;
                }
                .mobile-flex{
                    flex-direction:column-reverse;
                }
                .main-pic{
                    position:static;
                    width:100%;
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    height:424px;
                    margin-right:0px;
                }
                .text{
                    font-size:32px;
                    margin-right:0px;
                    margin-top:0px;
                    padding-inline:150px;
                }
            }
                .btn.btn-warning {
                    margin-inline: 200px;
    
                }
            
        }
        &.main{
            .row{
                padding-inline:0px;
            }
            .image{
                padding-inline:52px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
   
    
}

}
@media screen and (min-width:769px) and (max-width:1024px){
    .section{
        &.wrapper{
            background-color: white;
        }
        &.header{
            &.mobile-reader{
                width:90%;
                left:0;
                border-bottom-left-radius: 0px;
            }
            p{
                margin-left:140px;
            }
        }

    }
}
@media screen and (min-width:1025px) and (max-width:1440px){

    .section{
        
        &.header{
            &.mobile-reader{
                width:calc(90% - 145px );
                left:0;
          
        }
        .text{
            padding-left:30px;
        }
        }
        &.main{
            .row{
                padding-inline:65px !important;
            }
        }
        &.footer{
            p,h4{
               padding-inline: 65px;
            }
        }
        
    }
}