.main-img-left{
    background-image: url('./images/0973f6d06568e54d19ac7557b77ccaf2.jpg');
    background-position:center; 
    background-size:cover;
    width:100%;
    height:603px;
}

.main-img-right{
    background-image: url('./images/21e9164c5a1391e44b31e6dbfbf1cb93.jpg');
    background-size: cover;
    background-position:center; 
    width:100%;
    height:603px;
}

button{
    border:1px solid #BAA598;
    color:#BAA598;
    padding:18px 38px;
    background-color:white ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight:700;
   
}

.col-md-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.display-1{
    text-transform: uppercase;
    text-align: center;
    color:#979797;
    font-family: "Cormorant Garamond", serif;
}

.h4-text-center {
    font-size:22px;
    margin:50px auto;
    color:#575D65;
    font-weight:300;
    text-align: center;
}

.h4-text-center::after {
    content: '';
    display: block;
    width: 230px;
    height: 1px; 
    background-color:#575D65; 
    margin: 70px auto 0;
}

.section-featured-h1{
    margin-top:30px;
    text-align: center;
    font-style: italic;
    color:#363636;
    font-size:54px;
    font-weight:300;
    font-family:"Cormorant Garamond", serif;
}

.container{
    margin-top:70px;
    display:flex;
    gap:20px;
}

.featured-img-first{
    background-image: url('./images/968a9722cc9e49b044d4a1d898029bb3.png');
    background-size: cover;
    width:350px;
    height:370px;
}

.featured-img-second{
    background-image: url('./images/b09de6f6e3cd42209498d62238209cb5.png');
    background-size: cover;
    width:350px;
    height:370px;
}

.featured-img-third{
    background-image: url('./images/1a7b77681bf138ee353efd6d76b2bcd9.png');
    background-size: cover;
    width:350px;
    height:370px;
}

.btn.btn-outline-dark{
    margin-top:20px;
    padding:16px 50px;
}

.section-follow{
    background-color:#A7938526 ;
    margin-top:70px;
    position:relative;
}

.section-foolow-h1,.section-partners h1{
    text-align: center;
    font-style: italic;
    font-family:"Cormorant Garamond", serif;
    font-size:64px;
    padding-top: 90px;
}

.section-follow-first-image{
    margin-top: 40px;
    background-image: url('./images/follow-first.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 476px;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    opacity:0.3;

}

.image-content {
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items:flex-end;
    padding:30px;
    text-transform: uppercase;
    color:black;
}

.image-content h4 {
    font-weight: 400;
    align-self: flex-end; 
    font-style:normal;
}

.follow-btn {
    margin-top:20px;
    margin-left: auto; 
    align-self: flex-end; 
    padding:10px 36px;
    border:1px solid black;
    font-size: 20px;
    color:black;
}

.follow-btn i{
    padding-right:5px;
    color:rgb(95, 92, 92);
}

.section-follow-second-image{
    background-image: url('./images/follow-2.png');
    background-position: center;
    background-size: cover;
    width:380px;
    height:380px;
}

.section-follow-images{
    gap:10px;
    display:flex;
    flex-wrap: wrap;
    width:380px;
    height:380px;
}

.first-image,.second-image,.third-image,.fourth-image{
    width:185px;
    height:185px;
}

.section-follow .col-md-8{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;  
    padding-left:140px;
}

.section-shipping::before{
    content: '';
    display: block;
    width: 230px;
    height: 1px; 
    background-color:#575D65; 
    margin: 70px auto 0;
}
.content-h1 h1{
    font-size:28px;
    font-weight:400;
    padding-top: 15px;
}

.bi.bi-arrow-up{
    font-size:55px;
    background-color:#D2E2DC;
    color:white;
    margin-left: 100px;;
}

.carousel-img{
    width:180px;
    height:100px;
}

.bi.bi-arrow-left-short,.bi.bi-arrow-right-short{
    font-size:35px;
    color:black;
}

.bi.bi-arrow-left-short{
    margin-right:60px;
   
}

.bi.bi-arrow-right-short{
    padding-left:200px;
}

.section-shipping .row{
    margin: auto;
}

.section-shipping{
    position:relative;
}

.carousel-inner img {
    max-height: 200px; 
    object-fit: contain; 
}

.section-partners .row {
   max-width:1200px;
   margin:auto;
   padding-left:40px;
}

.img{
    width:183px;
    height:123px;
}


@media only screen and (min-width: 390px) and (max-width: 1120px){
    
    .display-1{
        font-size:58px;
        line-height:74px;
        padding:20px 0;
    }

    .section-main-btn{
        margin-bottom:40px;
    }

    .text-center{
       padding-inline:20px;
    }

    .section-featured-h1{
        font-size:47px;
    }

    .btn.btn-outline-dark{
        margin-bottom: 20px;
    }
    
    .section-follow{
        margin-top:0;
        padding-bottom:20px;
    }

    .section-follow .col-md-8{
        justify-content: center;
        padding-right:0;
    }

    .section-partners h1{
        padding-top:0;
    }

    .content-h1 h1{
      font-size:20px;
    }

    .img{
        display:none;
    }

    .content-i{
        margin-top:30px;
    }
    .bi.bi-arrow-left-short,.bi.bi-arrow-right-short{
        display:none;
    }

    .section-follow-first-image{
        justify-content: center;
    }
    
}