.section-main{
    margin-top:130px;
}

.section-main span{
    padding-inline:10px;
}

.section-main-about{
    color: #909090;
}

.section-main-title{
    font-size:55px;
}

.section-main-collection-first-about,.section-main-collection-second-about{
    margin-top:120px;
    display:flex;
    gap:50px;
    align-items: center;
}

.section-main-collection-first-about-img{
    background-image: url(./images/Frame\ 34.png);
    background-size: cover;
    width:442px;
    height:547px;
}

.section-main-collection-second-about-img{
    background-image: url(./images/Frame\ 34\ \(1\).png);
    background-size: cover;
    width:442px;
    height:547px;
}

.section-main-collection-first-about-content,.section-main-collection-second-about-content{
    width:515px;
    margin-left:30px;
}

h4{
    margin-bottom:40px;
    font-size:25px;
    font-weight:500;
}

.section-main-collection-first-about-content .p,.section-main-collection-second-about-content .p{
    margin-top:20px;
}

.btn{
    display:block;
    margin:100px auto;
    text-align: center;
    width:260px;
    background-color: #6E9C9F;
    color:white;
    padding:12px 15px;
    border:2px solid  #6E9C9F;
    font-size:17px;
}

@media only screen and (min-width: 390px) and (max-width: 1120px){
    .section-main{
        margin-top:40px;
    }
   
    .section-main-title{
        font-size:45px;
        margin-bottom:10px;
        text-align: center;
    }

    .section-main-collection-content{
        text-align: center;
    }
    
    .section-main-collection-first-about{
        margin-top:50px;
        flex-direction: column;
    }

    .section-main-collection-first-about-content,.section-main-collection-second-about-content{
        text-align: center;
        font-size:14px;
       margin-left:0px;
       width:300px;
    }

    .section-main-collection-second-about{
        margin-top:50px;
        flex-direction:column-reverse;
    }

    .btn{
        margin:50px auto;
    }

}
