.section-main{
    margin-top:130px;
}

.section-main span{
    padding-inline:10px;
}

.section-main-contact{
    color: #909090;
}

.section-main-title{
    font-size:55px;
    margin-bottom:30px;
}

.items{
    margin-top:150px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid #CCCCCC;
}

.item{
    margin-bottom:30px;
}

.first-item-list{
    list-style: none;
    display:flex;
    justify-content: space-between;
    gap:220px;
}

.second-item-list{
    gap:270px;
    list-style: none;
    display:flex;
    justify-content: space-between;
}

.items-img{
    display: flex;
    margin-top:20px;
    justify-content:space-between;
    align-items: center;
}

.coupon-items{
    margin-top:80px;
    display:flex;
    gap:20px;
}

.coupon-input{
   padding:30px 0px;
    background-color:transparent;
    width:255px;
    border:none;
    border-bottom:1px solid black;
    text-align: start;
    color:#868686;
}

.coupon-btn{
    color:#6E9C9F;
    border:1px solid #6E9C9F;
    padding:0px 71px;
    font-size:17px;
    background-color: white;
}

.coupon-basket{
   padding:0px 71px;
   margin-left: auto;
   background-color: white;
   color:#6E9C9F;
   border:1px solid #6E9C9F;
}

.img{
    background-image:url(./images/Фото\ товара@2x.png);
    background-size: cover;
    width:137px;
    height:179px;
}

.choosen-items{
    display:flex;
    gap:50px;
    align-items: center;
}

.main-footer-container{
    text-align:center;
    margin-top:60px;
}

.main-footer-end{
    margin-top:30px;
    display:flex;
    justify-content: end;
    gap:30px;
}

.main-footer-end-text{
    display:flex;
    justify-content: end;
    gap:30px;
    background-color:#F1EADC ;
    padding:15px 45px;
}

.main-footer-end-btn {
    padding-inline:45px;
    background-color:#6E9C9F ;
    border:1px solid #6E9C9F;
    
}

.main-footer-end-btn a{
    color:white;
}

@media only screen and (min-width: 390px) and (max-width: 1120px){
    .section-main {
        margin-top:40px;
    }

    .section-main-title{
        font-size:45px;
        text-align: center;
    }

     .section-main-content{
        text-align: center;
     }

     .items{
        margin-top:50px;
        margin-inline:10px;
     }

     .item{
        margin-bottom:0px;
     }

     .first-item-list{
        gap:53px;
     }

     .item-close,.second-item-list,.main-footer-end-text{
        display:none;
     }

     .choosen-items{
        flex-direction: column;
     }

     .items-img {
        flex-direction: column;
        justify-content: center;
        margin-top:43px;
     }

     .coupon-items{
        margin-top:40px;
        flex-direction: column;
        align-items: center;
        margin:20px 68px;
     }

     .coupon-input{
        text-align: center;
     }

     .coupon-btn{
        margin:10px 0px;
     }

     .main-footer-end{
        flex-direction: column;
     }

     .main-footer-end-btn{
        padding:12px;
        margin-inline:68px;
     }


    
}
