.navbar-li-text-a{
    color:black;
}

.section-main{
    margin-top:130px;
}

.section-main span{
    padding-inline:10px;
}

.section-main-contact{
    color: #909090;
}

.section-main-title{
    font-size:55px;
    margin-bottom:30px;
}

.form-container{
    display:flex;
    justify-content:space-between;
}

.order-list{
    display:flex;
    justify-content: center;
    line-height: 50px;;
    gap:100px;
    margin-top:40px;
}

.order-item, .order-price{
    padding: 0;
    margin: 0;
}

.order-list li{
    list-style: none;
}

.section-main-title{
    font-size:25px;
    margin-top:80px;
}

.section-main-form-input {
    display:flex;
    flex-direction: column;
}

.section-main-form-input input{
    width:350px;
    border:none;
    border-bottom:1px solid #000000;
}

.section-main-form-input label{
    margin-top:25px;
    color:#868686;
}

.message-border{
    margin-top:100px;
}

.order-address {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.payment-btn{
    display:block;
    margin-top:40px;
    background-color:#6E9C9F;
    border:1px solid #6E9C9F ;
    padding:22px 50px;
    color:white;
}

.section-main-p{
    font-size:17px;
    color:#868686;
}