* {
    font-family:"Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:500;
}

.wrapper{
    width:100%;
    max-width:1200px;
    margin:auto;
    margin-top:40px;
    position:relative;

}

.navbar-wrapper{
    position:relative;
    padding-top:35px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width:1200px;
    margin:auto;
    z-index: 2;
}

.navbar-li-text a{
    color:#6E9C9F!important;
    font-weight:bold;
}

.icon {
    display: flex;
    align-items: center;
}

.logo {
    width: 18px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size:16px;
    color:black;
    text-transform: uppercase;
    font-weight:500;
    letter-spacing: 2px;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    z-index:2;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color:black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:2;
}

.contact-info img {
    width: 25px;
    height: auto;
    margin-left: 30px;
}

.contact-info a {
    color:black;
    text-decoration: none;
    font-size: 16px;
    margin-inline: 20px;
}

.footer{
    width:100%;
    height:auto;
    margin-top:180px;
    background-color: #F1EADC;
}

.footer-navbar {
    max-width:1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
}

.footer-icon {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.footer-logo {
    width: 18px;
    height: auto;
    margin-right: 10px;
}

.footer-logo-text {
    font-size: 16px;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-navbar-menu {
    list-style-type: none;
    display: flex;
}

.footer-navbar-menu li {
    margin: 0 15px;
}

.footer-navbar-menu a {
    color:black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

.footer-contact-info{
    padding-top:40px;
    line-height: 30px;
    color:black;
}

a{
    color:black;
    text-decoration: none;
}

.footer-soc-media i{
    font-size:22px;
    padding-inline:5px;
}

.footer-content{
    padding:20px;
    display:flex;
    max-width:1200px;
    margin:auto;
    justify-content: space-between;
}

.footer-content-img{
    height:22px;
    width:60px;
    display:block;
    margin:20px;
}

.footer-content-list{
    list-style: none;
    line-height:28px;
}

@media only screen and (min-width: 390px) and (max-width: 1120px){

    .wrapper{
        margin-top:0px;
    }

    .navbar{
        font-size:12px;
        margin:0px;
        padding:0px;
    }

    .navbar-wrapper{
        padding-top:0px;
    }

    .icon,.contact-info a{
        margin-top:20px;
        text-align: center;
        z-index:2;
        font-size:8px;
    
    }

    .logo{
        margin-left:5px;
    }

    .contact-info img{
        margin-left:0px;
        width:22px;
    }

    .contact-img{
        margin-top:15px;
        margin-right:10px;
    }

    .logo-text,.tel,.tel-num{
        display:none;
        visibility: hidden;
    }

    .navbar{
        padding:10px 5px;
    }

    .navbar-menu {
        display: flex;
        justify-content: space-around;
        align-items:center;
        margin-top: 20px;
        gap:5px;
        margin-left:6px;
    }

    .navbar-menu li{
        margin:0 5px;
    }

    .navbar-menu a{
        font-size:12px;
        padding:0px;
    }

    .header-contact{
        z-index:2;
        position:relative;
    }

    .section-collection-title{
        text-align: center;
    }

    .section-collection-images{
        width:100%;
        max-width:690px;
        flex-direction:column;
        align-items: center;
    }

    .header-btn{
        width:240px !important;
        padding:10px 30px !important;
    }

    .header-text3{
        padding-left:0px !important;
    }

    .footer{
        margin-top: 80px;
    }

    .footer img{
        margin-top:20px;
        margin-left:70px;

    }

    .footer-logo-text,.footer-tel,.footer-e-mail,.footer-content-img{
        display:none;
        visibility: hidden;
    }

    .footer-navbar{
        padding-inline:0px;
    }

    .footer img{
        margin-left:10px;
    }

    .footer-logo{
        width:15px;
    }

    .footer-navbar-menu{
        display: flex;
        justify-content: space-around;
        align-items:center;
        margin-top: 20px;
        gap:5px;
    }

    .footer-navbar-menu li{
        margin:12px;
    }

    .footer-navbar-menu a{
        padding:0px;
        font-size:12px;
    }

   .footer-media{
    display: none;
   }
   
    .footer-content-list li{
        font-size:12px;
    }


}
    
